<%-include header %>
<!--找了一上午bug 大爷的  jQuery的版本坑爹啊！！！以后多注意ToT-->
<script src="/javascripts/jQuery1.3.2.min.js"></script>
<script type="text/javascript" src="/textarea/xheditor-1.2.2.min.js"></script>
<script type="text/javascript" src="/textarea/xheditor_lang/zh-cn.js"></script>
<script type="text/javascript">
  $(pageInit);
  function pageInit()
  {
    $.extend(XHEDITOR.settings,{shortcuts:{'ctrl+enter':submitForm}});
    $('#content').xheditor({html5Upload:false,upMultiple:'1',upLinkUrl:"/uploadFile",upLinkExt:"zip,rar,txt",upImgUrl:"/uploadImg",upImgExt:"jpg,jpeg,gif,png",upFlashUrl:"/uploadFlash",upFlashExt:"swf",upMediaUrl:"/uploadMedia",upMediaExt:"wmv,avi,wma,mp3,mid"});
//    $('#content').xheditor({tools:'full',skin:'default',showBlocktag:true,internalScript:false,internalStyle:false,width:300,height:200,fullscreen:false,sourceMode:false,forcePtag:true,upImgUrl:"/uploadImg",upImgExt:"jpg,jpeg,gif,png"});
  }
  function insertUpload(arrMsg)
  {console.log(arrMsg)
    var i,msg;
    for(i=0;i<arrMsg.length;i++)
    {
      msg=arrMsg[i];
      $("#uploadList").append('<option value="'+msg.id+'">'+msg.localname+'</option>');
    }
  }
  function submitForm(){$('#frmDemo').submit();}
  function onSub() {
      typename = $('#typeid').find("option:selected").text();
      myform = document.getElementById("myform");
      myform.typename.value=typename;
      return true;
  }
</script>
<br/>
<form method="post" id="myform" action="./ask" onsubmit="return onSub()">
  <table align="center">
    <tr>
      <td align="right">标题:</td>
      <td><input type="text" name="title"/></td>
    </tr>
    <tr>
      <td align="right">分类:</td>
      <td>
        <select name="typeid" id="typeid"/>
        <option value="1">javascript</option>
        <option value="2">php</option>
        <option value="3">pathon</option>
        <option value="4">java</option>
        <option value="5">mysql</option>
        <option value="6">ios</option>
        <option value="7">android</option>
        <option value="8">node.js</option>
        <option value="9">html5</option>
        <option value="10">linux</option>
        <option value="11">c++</option>
        <option value="12">其他</option>
        </select>
      </td>
    </tr>
    <tr>
      <td align="right">

      </td>
    </tr>
    <tr>
      <td align="right" valign="top">内容:</td>
      <td>
        <textarea id="content" name="content" cols="120" rows="9"></textarea>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <input type="hidden" name="subflag" value="1"/>
        <input type="hidden" name="typename"/>
        <input type="submit" value="提问"/>
      </td>
    </tr>
  </table>
</form>
</body>
</html>