<div class="modal fade" id="loginModal" style="width: 1080px">
  <div class="modal-dialog">
    <div class="modal-content"style="width:860px;">
      <!--------href内容----------------->
      <!--------------------------------->
    </div>
  </div>
</div>